@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 140%;
}

p {
  margin: 0 0 0.25em 0;
  font-size: 1em;
}

h3 {
  margin: 1em 0 0.5em 0;
}

h4 {
  margin: 0.25em 0 0.25em 0;
}

ul {
  margin: 0;
}

table {
  width: 100%;
  font-weight: bold;
}