@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 140%;
}

p {
  margin: 0 0 0.25em 0;
  font-size: 1em;
}

h2 {
    border-bottom: 1px solid #5f6368;
    padding-bottom: 0.5em;
}

h3 {
  margin: 0.75em 0 0.5em 0;
}

h4 {
  margin: 0.25em 0 0.25em 0;
}

ul {
  margin: 0;
  padding-left: 1.5em;
}

table {
  width: 100%;
  font-weight: bold;
}

span.when {
  float: right;
  color: #5f6368;
}

span.keys {
  color: #81a5de;
  font-weight: bolder;
}

table.personal {
  width: 100%
}

a:link {
  color: black;
}